.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}
.icon-undo {
  width: 20px;
  height: 20px;
  background-position: 0 0;
}
.icon-redo {
  width: 20px;
  height: 20px;
  background-position: 0 -25px;
}
.icon-remove {
  width: 20px;
  height: 20px;
  background-position: 0 -50px;
}
.icon-about {
  width: 20px;
  height: 20px;
  background-position: 0 -75px;
}
.icon-anchor {
  width: 20px;
  height: 20px;
  background-position: 0 -100px;
}
.icon-attach {
  width: 20px;
  height: 20px;
  background-position: 0 -125px;
}
.icon-b {
  width: 20px;
  height: 20px;
  background-position: 0 -150px;
}
.icon-baidu-map {
  width: 20px;
  height: 20px;
  background-position: 0 -175px;
}
.icon-blockquote {
  width: 20px;
  height: 20px;
  background-position: 0 -200px;
}
.icon-both-align {
  width: 20px;
  height: 20px;
  background-position: 0 -225px;
}
.icon-center-align {
  width: 20px;
  height: 20px;
  background-position: 0 -250px;
}
.icon-clear-format {
  width: 20px;
  height: 20px;
  background-position: 0 -275px;
}
.icon-clear-html {
  width: 20px;
  height: 20px;
  background-position: 0 -300px;
}
.icon-clock {
  width: 20px;
  height: 20px;
  background-position: 0 -325px;
}
.icon-code {
  width: 20px;
  height: 20px;
  background-position: 0 -350px;
}
.icon-copy {
  width: 20px;
  height: 20px;
  background-position: 0 -375px;
}
.icon-crop {
  width: 20px;
  height: 20px;
  background-position: 0 -400px;
}
.icon-date {
  width: 20px;
  height: 20px;
  background-position: 0 -425px;
}
.icon-down-tag {
  width: 20px;
  height: 20px;
  background-position: 0 -450px;
}
.icon-face {
  width: 20px;
  height: 20px;
  background-position: 0 -475px;
}
.icon-find {
  width: 20px;
  height: 20px;
  background-position: 0 -500px;
}
.icon-flash {
  width: 20px;
  height: 20px;
  background-position: 0 -525px;
}
.icon-font-bgcolor {
  width: 20px;
  height: 20px;
  background-position: 0 -550px;
}
.icon-font {
  width: 20px;
  height: 20px;
  background-position: 0 -575px;
}
.icon-fontsize {
  width: 20px;
  height: 20px;
  background-position: 0 -600px;
}
.icon-full-screen {
  width: 20px;
  height: 20px;
  background-position: 0 -625px;
}
.icon-func {
  width: 21px;
  height: 20px;
  background-position: 0 -650px;
}
.icon-google-map {
  width: 20px;
  height: 20px;
  background-position: 0 -675px;
}
.icon-graft {
  width: 21px;
  height: 20px;
  background-position: 0 -700px;
}
.icon-image {
  width: 20px;
  height: 20px;
  background-position: 0 -725px;
}
.icon-insert-col {
  width: 20px;
  height: 20px;
  background-position: 0 -750px;
}
.icon-insert-row {
  width: 23px;
  height: 20px;
  background-position: 0 -775px;
}
.icon-italic {
  width: 20px;
  height: 20px;
  background-position: 0 -800px;
}
.icon-left-align {
  width: 20px;
  height: 20px;
  background-position: 0 -825px;
}
.icon-left-indent {
  width: 22px;
  height: 20px;
  background-position: 0 -850px;
}
.icon-line-height {
  width: 20px;
  height: 20px;
  background-position: 0 -875px;
}
.icon-link {
  width: 20px;
  height: 20px;
  background-position: 0 -900px;
}
.icon-merge-col {
  width: 20px;
  height: 20px;
  background-position: 0 -925px;
}
.icon-merge-table {
  width: 26px;
  height: 20px;
  background-position: 0 -950px;
}
.icon-merge-td {
  width: 20px;
  height: 20px;
  background-position: 0 -975px;
}
.icon-multiple-image {
  width: 20px;
  height: 20px;
  background-position: 0 -1000px;
}
.icon-ok {
  width: 20px;
  height: 20px;
  background-position: 0 -1025px;
}
.icon-ol {
  width: 20px;
  height: 20px;
  background-position: 0 -1050px;
}
.icon-paiban {
  width: 20px;
  height: 20px;
  background-position: 0 -1075px;
}
.icon-paste-text {
  width: 20px;
  height: 20px;
  background-position: 0 -1100px;
}
.icon-paste-word {
  width: 20px;
  height: 20px;
  background-position: 0 -1125px;
}
.icon-paste {
  width: 20px;
  height: 20px;
  background-position: 0 -1150px;
}
.icon-preview {
  width: 20px;
  height: 20px;
  background-position: 0 -1175px;
}
.icon-print {
  width: 20px;
  height: 20px;
  background-position: 0 -1200px;
}
.icon-remove-col {
  width: 20px;
  height: 20px;
  background-position: 0 -1225px;
}
.icon-remove-row {
  width: 20px;
  height: 20px;
  background-position: 0 -1250px;
}
.icon-remove-table {
  width: 23px;
  height: 20px;
  background-position: 0 -1275px;
}
.icon-remove2 {
  width: 20px;
  height: 20px;
  background-position: 0 -1300px;
}
.icon-right-align {
  width: 20px;
  height: 20px;
  background-position: 0 -1325px;
}
.icon-right-indent {
  width: 22px;
  height: 20px;
  background-position: 0 -1350px;
}
.icon-selectall {
  width: 20px;
  height: 20px;
  background-position: 0 -1375px;
}
.icon-source-code {
  width: 20px;
  height: 20px;
  background-position: 0 -1400px;
}
.icon-split-page {
  width: 20px;
  height: 20px;
  background-position: 0 -1425px;
}
.icon-split {
  width: 20px;
  height: 20px;
  background-position: 0 -1450px;
}
.icon-strickout {
  width: 20px;
  height: 20px;
  background-position: 0 -1475px;
}
.icon-table-attr {
  width: 20px;
  height: 20px;
  background-position: 0 -1500px;
}
.icon-table {
  width: 23px;
  height: 20px;
  background-position: 0 -1525px;
}
.icon-title {
  width: 20px;
  height: 20px;
  background-position: 0 -1550px;
}
.icon-ul {
  width: 20px;
  height: 20px;
  background-position: 0 -1575px;
}
.icon-underline {
  width: 20px;
  height: 20px;
  background-position: 0 -1600px;
}
.icon-unlink {
  width: 20px;
  height: 20px;
  background-position: 0 -1625px;
}
.icon-up-tag {
  width: 20px;
  height: 20px;
  background-position: 0 -1650px;
}
.icon-vedio {
  width: 20px;
  height: 20px;
  background-position: 0 -1675px;
}
.icon-template {
  width: 20px;
  height: 20px;
  background-position: 0 -1700px;
}
.icon-fontcolor {
  width: 20px;
  height: 20px;
  background-position: 0 -1725px;
}
.icon-graft2 {
  width: 23px;
  height: 20px;
  background-position: 0 -1750px;
}
.icon-insert-col2 {
  width: 20px;
  height: 20px;
  background-position: 0 -1775px;
}
.icon-insert-row2 {
  width: 23px;
  height: 20px;
  background-position: 0 -1800px;
}
.icon-split-table {
  width: 20px;
  height: 20px;
  background-position: 0 -1825px;
}
.icon-merge-table2 {
  width: 26px;
  height: 20px;
  background-position: 0 -1850px;
}

